.intro {
  height:100vh;
  min-height:100%;
  max-height:100%;
  background-color: grey;
  opacity: .3;
  text-align: center;
}

h3 {
  font-size: 60px;
  font-weight: 300;
  color: white;
  margin: 0;
  padding-top: 30%;
}
